<%= link_to "Cancel", user_path(@user) %>

<div class="profile-content">
    <h1><%= @user.username %></h1>

    <div class="user-description">
      <span>"</span><span id="description"><%= @user.description || "CLICK TO ADD A DESCRIPTION" %></span><span>"</span>
    </div>

    <div class="youtube-links">
      <ul>
        <li>
            <%= form_for Track.new, :url => create_track_path(@track), :html => { :id => "form-track-1" } do |f| %>
              <%= f.text_field :youtube_url, placeholder: "https://www.youtube.com/ClickAndPasteTheYTLinkOfYour1stBanger", id: "input-form-1" %>
              <%= hidden_field_tag 'position', '1'  %>
            <% end %>
        </li>
        <li>
            <%= form_for Track.new, :url => create_track_path(@track), :html => { :id => "form-track-2" } do |f| %>
              <%= f.label :"update url" %>
              <%= f.text_field(:youtube_url, id: "input-form-2") %>
              <%= hidden_field_tag 'position', '2'  %>
              <%= f.submit %>
            <% end %>
        <li>
            <%= form_for Track.new, :url => create_track_path(@track), :html => { :id => "form-track-3" } do |f| %>
              <%= f.label :"update url" %>
              <%= f.text_field(:youtube_url, id: "input-form-3") %>
              <%= hidden_field_tag 'position', '3'  %>
              <%= f.submit %>
            <% end %>
        </li>
        <li>
            <%= form_for Track.new, :url => create_track_path(@track), :html => { :id => "form-track-4" } do |f| %>
              <%= f.label :"update url" %>
              <%= f.text_field(:youtube_url, id: "input-form-4") %>
              <%= hidden_field_tag 'position', '4'  %>
              <%= f.submit %>
            <% end %>
        </li>
        <li>
            <%= form_for Track.new, :url => create_track_path(@track), :html => { :id => "form-track-5" } do |f| %>
              <%= f.label :"update url" %>
              <%= f.text_field(:youtube_url, id: "input-form-5") %>
              <%= hidden_field_tag 'position', '5'  %>
              <%= f.submit %>
            <% end %>
        </li>
      </ul>
    </div>
    <div class="updated-at">
      <% if ! UserTrackRelationship.where(user: @user).empty? %>
        © <%= link_to UserTrackRelationship.where(user: @user).last.created_at.strftime("%d/%m/%Y"), destroy_user_session_path, method: :delete %> ©
      <% end %>
    </div>
</div>

<%= form_with model: @user do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
