
<%= form_for @user do |f| %>

  <div class="profile-navbar navbar-edit">
    <% if @user.tracks.empty? %>
      <h4><%= link_to "Help", help_path %></h4>
    <% else %>
      <h4><%= link_to "Cancel", user_path(@user.username) %></h4>
    <% end %>
    <h4><%= f.submit "Save" %></h4>
  </div>

  <div class="profile-content">
      <h1><%= @user.username %></h1>

      <div class="user-description">
        <div id="desc-ctn">
          <div>"</div><%= f.text_field :description, placeholder: @user.description || "ADD DESCRIPTION", id: "edit-description", maxlength: 15 %><div>"</div>
        </div>
      </div>

      <div class="youtube-links">
        <ul>
          <li>
            <%= f.text_field :track_1, value: params[:track_1], placeholder: !@user.user_track_relationships.where(position: 1).empty? ? @user.user_track_relationships.where(position: 1).first.track.youtube_url.sub("https://", "").sub("watch?v=", "") : "#{@placeholder}1", class: "track-forms" %>
          </li>
          <li>
            <%= f.text_field :track_2, value: params[:track_2], placeholder: !@user.user_track_relationships.where(position: 2).empty? ? @user.user_track_relationships.where(position: 2).first.track.youtube_url.sub("https://", "").sub("watch?v=", "") : "#{@placeholder}2", class: "track-forms" %>
          </li>
          <li>
            <%= f.text_field :track_3, value: params[:track_3], placeholder: !@user.user_track_relationships.where(position: 3).empty? ? @user.user_track_relationships.where(position: 3).first.track.youtube_url.sub("https://", "").sub("watch?v=", "") : "#{@placeholder}3", class: "track-forms" %>
          </li>
          <li>
            <%= f.text_field :track_4, value: params[:track_4], placeholder: !@user.user_track_relationships.where(position: 4).empty? ? @user.user_track_relationships.where(position: 4).first.track.youtube_url.sub("https://", "").sub("watch?v=", "") : "#{@placeholder}4", class: "track-forms" %>
          </li>
          <li>
            <%= f.text_field :track_5, value: params[:track_5], placeholder: !@user.user_track_relationships.where(position: 5).empty? ? @user.user_track_relationships.where(position: 5).first.track.youtube_url.sub("https://", "").sub("watch?v=", "") : "#{@placeholder}5", class: "track-forms" %>
          </li>
        </ul>
      </div>
      <div class="updated-at">
        <% if ! UserTrackRelationship.where(user: @user).empty? %>
          © <%= UserTrackRelationship.where(user: @user).last.created_at.strftime("%d/%m/%Y") %> ©
        <% else %>
          © <%= @user.created_at.strftime("%d/%m/%Y") %> ©
        <% end %>
      </div>
  </div>

  <% end %>
