<% if @user == current_user %>
  <h4><%= link_to "Edit", edit_user_path(@user) %></h4>
<% else %>
  <h4><%= link_to "My profile", user_path(current_user) %></h4>
<% end %>

<div class="profile-content">
    <h1><%= @user.username %></h1>

    <div class="user-description">
      <span>"</span><span id="description"><%= @user.description || "EDIT TO ADD A DESCRIPTION" %></span><span>"</span>
    </div>

    <div class="youtube-links">
      <ul>
        <% for i in 1..5 %>
          <% if @user.user_track_relationships.where(position: i).empty? %>
            <% if i==1 %>
              <li class="youtube-link" id="link-1" display="">https://www.youtube.com/EditToAddTheYTLinkOfYour1stBanger</li>
              <li class="youtube-link" id="cursor-1" display="none">|</li>
            <% elsif i==2 %>
              <li class="youtube-link">https://www.youtube.com/EditToAddTheYTLinkOfYour2ndBanger</li>
            <% elsif i==3 %>
              <li class="youtube-link">https://www.youtube.com/EditToAddTheYTLinkOfYour3rdBanger</li>
            <% elsif i==4 %>
              <li class="youtube-link">https://www.youtube.com/EditToAddTheYTLinkOfYour4thBanger</li>
            <% elsif i==5 %>
              <li class="youtube-link">https://www.youtube.com/EditToAddTheYTLinkOfYour5thBanger</li>
            <% end %>
          <% else %>
            <li class="youtube-link"><%= link_to @user.user_track_relationships.where(position: i).first.track.youtube_url, @user.user_track_relationships.where(position: i).first.track.youtube_url, target: :_blank %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="updated-at">
      <% if ! UserTrackRelationship.where(user: @user).empty? %>
        © <%= link_to UserTrackRelationship.where(user: @user).last.created_at.strftime("%d/%m/%Y"), destroy_user_session_path, method: :delete %> ©
      <% end %>
    </div>
</div>

<div class="dancefloor-container">
    <ul class="members-list">
      <!-- Dancefloor place in absolute position -->
      <li>< Dancefloor ></li>
      <!-- Two blank <li> used as offset to leave place for the <dancefloor> above -->
      <li style="visibility: hidden; width: 87px">AA964</li>
      <li style="visibility: hidden; width: 87px">AA847</li>
      <% @dancefloor.each do |user| %>
        <li>
          <%= link_to user.username, user_path(user) %>
        </li>
      <% end %>
      <li>< /Dancefloor ></li>
    </ul>
  </div>

<!--
<p>Archivesss</p>
<% @user.user_track_relationships.where(position: "archived").order("updated_at DESC").each do |user_track_relationship| %>
  <p><%= user_track_relationship.track.youtube_url %></p> <br>
<% end %>
-->

<% if current_user == @user %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>

