<%= @user.email %>

<p>1st banger</p>
<% if @user.user_track_relationships.where(position: "1").empty? == false %>
  <a><%= @user.user_track_relationships.where(position: "1").first.track.youtube_url %></a>
<% end %>

<%= form_for Track.new, :url => create_track_path(@track) do |f| %>
  <%= f.label :"update url" %>
  <%= f.text_field :youtube_url %>
  <%= hidden_field_tag 'position', '1'  %>
  <%= f.submit %>
<% end %>

<p>2nd banger</p>
<% if @user.user_track_relationships.where(position: "2").empty? == false %>
  <a><%= @user.user_track_relationships.where(position: "2").first.track.youtube_url %></a>
<% end %>

<%= form_for Track.new, :url => create_track_path(@track) do |f| %>
  <%= f.label :"update url" %>
  <%= f.text_field :youtube_url %>
  <%= hidden_field_tag 'position', '2'  %>
  <%= f.submit %>
<% end %>

<p>3rd banger</p>
<% if @user.user_track_relationships.where(position: "3").empty? == false %>
  <a><%= @user.user_track_relationships.where(position: "3").first.track.youtube_url %></a>
<% end %>

<%= form_for Track.new, :url => create_track_path(@track) do |f| %>
  <%= f.label :"update url" %>
  <%= f.text_field :youtube_url %>
  <%= hidden_field_tag 'position', '3'  %>
  <%= f.submit %>
<% end %>

<p>4th banger</p>
<% if @user.user_track_relationships.where(position: "4").empty? == false %>
  <a><%= @user.user_track_relationships.where(position: "4").first.track.youtube_url %></a>
<% end %>

<%= form_for Track.new, :url => create_track_path(@track) do |f| %>
  <%= f.label :"update url" %>
  <%= f.text_field :youtube_url %>
  <%= hidden_field_tag 'position', '4'  %>
  <%= f.submit %>
<% end %>

<p>5th banger</p>
<% if @user.user_track_relationships.where(position: "5").empty? == false %>
  <a><%= @user.user_track_relationships.where(position: "5").first.track.youtube_url %></a>
<% end %>

<%= form_for Track.new, :url => create_track_path(@track) do |f| %>
  <%= f.label :"update url" %>
  <%= f.text_field :youtube_url %>
  <%= hidden_field_tag 'position', '5'  %>
  <%= f.submit %>
<% end %>

<% @user.user_track_relationships.where(position: "archived").reverse_each do |user_track_relationship| %>
  <p><%= user_track_relationship.track.youtube_url %></p> <br>
<% end %>

<% if current_user == @user %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>

