<div class="profile-content">
    <h1><%= @user.email %></h1>
    <% if !@user.username.nil? %>
      <h1><%= @user.username %></h1>
    <% end %>
    <div class="youtube-links">
      <ul>
        <% for i in 1..5 %>
          <% if @user.user_track_relationships.where(position: i).empty? %>
            <li class="youtube-link">add the YT link of your ith banger</li>
          <% else %>
            <li class="youtube-link"><%= link_to @user.user_track_relationships.where(position: i).first.track.youtube_url, @user.user_track_relationships.where(position: i).first.track.youtube_url, target: :_blank %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="updated-at">
      <% if ! UserTrackRelationship.where(user: @user).empty? %>
        © <%= link_to UserTrackRelationship.where(user: @user).last.created_at.strftime("%d/%m/%Y"), destroy_user_session_path, method: :delete %> ©
      <% end %>
    </div>
</div>

<div class="dancefloor-container">
    <ul class="members-list">
      <!-- Dancefloor place in absolute position -->
      <li>< Dancefloor ></li>
      <!-- Two blank <li> used as offset to leave place for the <dancefloor> above -->
      <li style="visibility: hidden; width: 87px">AA964</li>
      <li style="visibility: hidden; width: 87px">AA847</li>
      <% @dancefloor.each do |user| %>
        <li>
          <%= link_to user.email, user_path(user) %>
        </li>
      <% end %>
      <li>< /Dancefloor ></li>
    </ul>
  </div>

<% if current_user == @user %>
  <%= form_for Track.new, :url => create_track_path(@track) do |f| %>
    <%= f.label :"update url" %>
    <%= f.text_field :youtube_url %>
    <%= hidden_field_tag 'position', '1'  %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= form_for Track.new, :url => create_track_path(@track) do |f| %>
    <%= f.label :"update url" %>
    <%= f.text_field :youtube_url %>
    <%= hidden_field_tag 'position', '2'  %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= form_for Track.new, :url => create_track_path(@track) do |f| %>
    <%= f.label :"update url" %>
    <%= f.text_field :youtube_url %>
    <%= hidden_field_tag 'position', '3'  %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= form_for Track.new, :url => create_track_path(@track) do |f| %>
    <%= f.label :"update url" %>
    <%= f.text_field :youtube_url %>
    <%= hidden_field_tag 'position', '4'  %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if current_user == @user %>
  <%= form_for Track.new, :url => create_track_path(@track) do |f| %>
    <%= f.label :"update url" %>
    <%= f.text_field :youtube_url %>
    <%= hidden_field_tag 'position', '5'  %>
    <%= f.submit %>
  <% end %>
<% end %>

<p>Archivesss</p>

<!--
<% @user.user_track_relationships.where(position: "archived").order("updated_at DESC").each do |user_track_relationship| %>
  <p><%= user_track_relationship.track.youtube_url %></p> <br>
<% end %>
-->

<% if current_user == @user %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% end %>

