<div class="profile-navbar navbar-edit">
  <% if @user == current_user %>
    <h4><%= link_to "Edit", edit_user_path(@user.username) %></h4>
  <% else %>
    <h4><%= link_to "My profile", user_path(current_user.username) %></h4>
  <% end %>
  <h4><%= link_to "Log out", destroy_user_session_path, method: :delete %></h4>
</div>

<div class="profile-content">
    <h1><%= @user.username %></h1>

    <div class="user-description">
      <span>"</span><span id="description"><%= @user.description || "EDIT TO ADD A DESCRIPTION" %></span><span>"</span>
    </div>

    <div class="youtube-links">
      <ul>
        <% for i in 1..5 %>
          <% if @user.user_track_relationships.where(position: i).empty? %>
            <% if i==1 %>
              <li class="youtube-link" id="link-1" display=""><%="#{@placeholder}1"%></li>
            <% elsif i==2 %>
              <li class="youtube-link"><%="#{@placeholder}2"%></li>
            <% elsif i==3 %>
              <li class="youtube-link"><%="#{@placeholder}3"%></li>
            <% elsif i==4 %>
              <li class="youtube-link"><%="#{@placeholder}4"%></li>
            <% elsif i==5 %>
              <li class="youtube-link"><%="#{@placeholder}5"%></li>
            <% end %>
          <% else %>
            <li class="youtube-link"><%= link_to @user.user_track_relationships.where(position: i).first.track.youtube_url.sub("https://", "").sub("watch?v=", ""), @user.user_track_relationships.where(position: i).first.track.youtube_url, target: :_blank %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="updated-at">
      <% if ! UserTrackRelationship.where(user: @user).empty? %>
        © <%= UserTrackRelationship.where(user: @user).last.created_at.strftime("%d/%m/%Y") %> ©
      <% else %>
        © <%= @user.created_at.strftime("%d/%m/%Y") %> ©
      <% end %>
    </div>
</div>

<div class="dancefloor-container">
    <ul class="members-list">
      <!-- Dancefloor place in absolute position -->
      <li>< Dancefloor ></li>
      <!-- Two blank <li> used as offset to leave place for the <dancefloor> above -->
      <li style="visibility: hidden; width: 87px">AA964</li>
      <li style="visibility: hidden; width: 87px">AA847</li>
      <% @dancefloor.each do |user| %>
        <li>
          <%= link_to user.username, user_path(user.username) %>
        </li>
      <% end %>
      <li>< /Dancefloor ></li>
    </ul>
  </div>

<!--
<p>Archivesss</p>
<% @user.user_track_relationships.where(position: "archived").order("updated_at DESC").each do |user_track_relationship| %>
  <p><%= user_track_relationship.track.youtube_url %></p> <br>
<% end %>
-->
