<div class="container">
  <div class="home-page">
    <div class="home-navbar profile-hide-top">
      <h4>2000 ©</h4>
      <h4>The club is open</h4>
    </div>
    <div class="logo-home">
      <%= image_tag "logo.png" %>
    </div>
    <div class="backdoor-entry">
      <%= link_to "Become a member", new_user_registration_path, class:"home-btn" %>
      <%= link_to "Get inside", new_user_session_path, class:"home-btn" %>
    </div>
    <div class="footer-home">
      <%= link_to 'Dancefloor', club_is_full_path %>
      <%= link_to 'Lounge Bar', club_is_full_path %>
      <%= link_to 'Terrace', club_is_full_path %>
      <%= link_to 'Smoking Room', club_is_full_path %>
      <%= link_to 'Backdoor', new_user_session_path %>
    </div>
  </div>
  <div id="player"></div>
  <iframe id="ytplayer" type="text/html" width="300" height="225"
  src="https://www.youtube.com/embed/4ZQ_YXaO3I0?autoplay=1&loop=1"
  frameborder="0" allowfullscreen allow="autoplay" class="hidden"></iframe>
</div>
